{% extends "base.html" %}
<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% include 'components/breadcrumb.html' %}

  <div class="row">

    <div class="col-1">

      {% comment %}
        {% include 'components/app_card.html' %}
      {% endcomment %}

      {% include 'components/app_side_card.html' %}

    </div>

    <div class="col-10">

      <div class="row">
        <div class="col-12">
          <a class="btn btn-secondary float-left mb-4" href="{% url 'dashboard' %}">
            Back
          </a>
          <a class="btn btn-primary disabled float-right mb-4" href="#">
            CONFIG APP
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-4 text-center">
          <h3>
            {{ app.name }} brief
          </h3>
          <p>
            <i>
              The following are all your current app plans.
            </i>
          </p>
        </div>
      </div>

      {% include 'components/admin_navbar.html' %}

      <hr class="mt-4 mb-4">

      {% include 'components/help_bar.html' %}

    </div>

  </div>

{% endblock %}
