{% extends "base.html" %}
<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% include 'components/breadcrumb.html' %}

  <div class="row">

    <div class="col-3">

      {% include 'components/app_card.html' %}

    </div>

    <div class="col-9">

      {% include 'components/admin_navbar.html' %}

      <div class="row">
        <div class="col-12">

          <div class="jumbotron">
            <h1 class="display-3">
              Control Panel
            </h1>
            <p class="lead">
              This control panel allows you to setup all your clients, plans & products, and also will show you all the payments done.
            </p>
            <!-- <hr class="my-4"> -->
            <!-- <p>
              It is a resume that we have for you about the current app.
            </p> -->

            <!-- <div class="row">
              <div class="col-3">
                payments
              </div>
              <div class="col-3">
                clients
              </div>
              <div class="col-3">
                plans
              </div>
              <div class="col-3">
                products
              </div>
            </div> -->
            <!-- <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">
                Learn more
              </a>
            </p> -->
          </div>

        </div>
      </div>

    </div>

  </div>

{% endblock %}
