{% extends "base.html" %}
<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% include 'components/breadcrumb.html' %}

  <div class="row">

    <div class="col-1">

      {% comment %}
        {% include 'components/app_card.html' %}
      {% endcomment %}

      {% include 'components/app_side_card.html' %}

    </div>

    <div class="col-10">

      {% include 'components/admin_navbar.html' %}

      <div class="row">
        <div class="col-12">

          <div class="jumbotron">
            <h1 class="display-3 text-center">
              {{ app.name }}
            </h1>
            <p class="lead text-center">
              <i>
                This control panel allows you to setup all your clients, plans & products, and also will show you all the payments done.
              </i>
            </p>
            <p class="text-center">
              In the left panel you have quick access to your app's payments, clients, plans & products.
            </p>

          </div>

        </div>
      </div>

    </div>

  </div>

{% endblock %}
