Django>=2.1.2
django-debug-toolbar==1.9.1
django-extensions==2.1.0
djangorestframework==3.8.2
psycopg2-binary==2.7.4
python-dateutil==2.7.2
pytz==2018.4
rest-framework-apicontrol==0.7.5
six==1.11.0
sqlparse==0.2.4
