{% extends "base.html" %}
<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-1 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
      {% include 'components/app_side_card.html' %}

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-10">

      <div class="row">
        <div class="col-12">
          <a class="btn btn-secondary float-left mb-4" href="{% url 'app_detail_plan_detail' app_unique_id=app_unique_id plan_unique_id=plan_unique_id %}">
            Back
          </a>
          <a class="btn btn-primary float-right mb-4" href="{% url 'app_detail_plan_planinstance_edit' app_unique_id=app_unique_id plan_unique_id=plan_unique_id plan_instance_unique_id=plan_instance_unique_id %}">
            EDIT SUBSCRIPTION
          </a>
          {% if plan_instance.instance_status != 'archived' %}
          <a class="btn btn-outline-warning float-right mb-4 mr-4" href="{% url 'app_detail_plan_planinstance_archive' app_unique_id=app_unique_id plan_unique_id=plan_unique_id plan_instance_unique_id=plan_instance_unique_id %}">
            ARCHIVE
          </a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-4 text-center">
          <h3>
            Subcription detail
          </h3>

          <ul class="list-unstyled">
            <li>
              <b>plan:</b> {{ plan_instance.plan.name }}
            </li>
            <li>
              <b>customer account:</b> <a href="#">{{ plan_instance.account.email }}</a>
            </li>
            <li>
              <i class="far fa-clock"></i> <b>subscribed at:</b> {{ plan_instance.created_at }}
            </li>
            <li>
              <i class="far fa-clock"></i> <b>renewal datetime:</b> {{ plan_instance.renewal_datetime }}
            </li>
          </ul>

        </div>
      </div>

    </div>

  </div>

{% endblock %}
