<div class="card">

  <div class="card-body text-muted text-center">

    <a href="{% url 'dashboard' %}">
      <div class="mb-4">
        <i class="fa fa-home"> </i>
      </div>
    </a>

    <a href="{% url 'app_detail' app_unique_id=app.unique_id %}">
      <div class="mb-0">
        <i class="fa fa-list"> </i>
      </div>
    </a>

  </div>

  <div class="card-footer text-muted text-center">

    <div>
      <i class="fa fa-credit-card"> </i>
    </div>
    <div>
      0
    </div>

    <div>
      <i class="fa fa-user"> </i>
    </div>
    <div>
      0
    </div>

    <a href="{% url 'app_detail_plan_list' app_unique_id=app.unique_id %}">
      <div>
        <i class="fa fa-book"> </i>
      </div>
      <div>
        {{ app.plan_set.count }}
      </div>
    </a>

    <div>
      <i class="fa fa-beer"> </i>
    </div>
    <div>
      0
    </div>

  </div>
</div>
