<div class="card">

  <div class="card-body text-muted text-center">

    <div class="mb-0">
      <i class="fa fa-list"> </i>
    </div>

  </div>

  <div class="card-footer text-muted text-center">

    <div>
      <i class="fa fa-credit-card"> </i>
    </div>
    <div>
      0
    </div>

    <div>
      <i class="fa fa-user"> </i>
    </div>
    <div>
      0
    </div>

    <div>
      <i class="fa fa-book"> </i>
    </div>
    <div>
      {{ app.plan_set.count }}
    </div>

    <div>
      <i class="fa fa-beer"> </i>
    </div>
    <div>
      0
    </div>

  </div>
</div>
