<div class="card">
  <!-- <div class="card-header">
    APP
  </div> -->
  <div class="card-body">
    <h5 class="card-title">{{ app.name }}</h5>
    <div class="card-text">
      <p>
        {% if app.description %}
          {{ app.description }}
        {% else %}
          <i>There is no description for the current App</i>
        {% endif %}
      </p>
    </div>
    <a href="{% url 'app_detail' app_unique_id=app.unique_id %}" class="btn btn-primary">
      Go to App
    </a>
    <a href="#" class="btn btn-secondary">
      CONFIG
    </a>
  </div>
  <div class="card-footer text-muted">

    <div class="row">
      <div class="col-3">
        <a href="{% url 'app_detail_payments_list' app_unique_id=app.unique_id %}">
          <i class="fa fa-credit-card"> </i> 0
        </a>
      </div>
      <div class="col-3">
        <a href="{% url 'app_detail_account_list' app_unique_id=app.unique_id %}">
          <i class="fa fa-user"> </i> 0
        </a>
      </div>
      <div class="col-3">
        <a href="{% url 'app_detail_plan_list' app_unique_id=app.unique_id %}">
          <i class="fa fa-book"> </i> {{ app.plan_set.count }}
        </a>
      </div>
      <div class="col-3">
        <i class="fa fa-beer"> </i> 0
      </div>

    </div>

  </div>
</div>
