<div class="row text-center">
  <div class="col-3">
    <h1>
      <i class="fa fa-firefox" style="color: orange;"> </i>
    </h1>
    <span class="text-center">
      usa Firefox para una mejor experiencia web
    </span>
  </div>

  <div class="col-3">
    <h1>
      <i class="fa fa-bolt" style="color: yellow;"> </i>
    </h1>
    <span class="text-center">
      haz más con las funciones PRO
    </span>
  </div>

  <div class="col-3">
    <h1>
      <i class="fa fa-facebook" style="color: blue;"> </i>
    </h1>
    <span class="text-center">
      encuentranos en Facebook
    </span>
  </div>

  <div class="col-3">
    <h1>
      <i class="fa fa-life-ring" style="color: red;"> </i>
    </h1>
    <span class="text-center">
      ¿necesitas ayuda?
    </span>
  </div>
</div>
