<div class="row text-center">
  <div class="col-3">
    <h1>
      <i class="fa fa-firefox"> </i>
    </h1>
    <span class="text-center">
      usa Firefox para una mejor experiencia web
    </span>
  </div>

  <div class="col-3">
    <h1>
      <i class="fa fa-bolt"> </i>
    </h1>
    <span class="text-center">
      haz más con las funciones PRO
    </span>
  </div>

  <div class="col-3">
    <h1>
      <i class="fa fa-facebook"> </i>
    </h1>
    <span class="text-center">
      encuentranos en Facebook
    </span>
  </div>

  <div class="col-3">
    <h1>
      <i class="fa fa-life-ring"> </i>
    </h1>
    <span class="text-center">
      ¿necesitas ayuda?
    </span>
  </div>
</div>
