<div class="card">
  <!-- <div class="card-header">
    PLAN
  </div> -->
  <div class="card-body">
    <h5 class="card-title">
      {{ plan.name }}
    </h5>
    <!-- <div class="card-text">
      <p>
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div> -->
    <a href="{% url 'dashboard' %}" class="btn btn-primary">
      Back
    </a>
    <a href="{% url 'app_detail_plan_edit' app_unique_id=app_unique_id plan_unique_id=plan.unique_id %}" class="btn btn-secondary">
      Edit
    </a>

  </div>
  <div class="card-footer text-muted">
    {{ plan_instances.count }} plan instances
  </div>
</div>
