{% extends "base.html" %}
<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% include 'components/breadcrumb.html' %}

  <div class="row">

    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-12">
          <!-- <a class="btn btn-secondary float-left mb-4" href="{% url 'dashboard' %}">
            Back
          </a> -->
          <a class="btn btn-primary disabled float-right mb-4" href="#">
            New App
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-4 text-center">
          <h3>
            My apps
          </h3>
          <p>
            <i>
              {% if AVAILABLE_APPS.count > 0 %}
                The following is a list with all your current apps.
              {% else %}
                You have no apps created, please create one.
              {% endif %}
            </i>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          {% for app in AVAILABLE_APPS %}
            {% include 'components/app_card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
