{% extends "base.html" %}
<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-1 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
      {% include 'components/app_side_card.html' %}

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-10">

      <div class="row">
        <div class="col-12">
          <a class="btn btn-secondary float-left mb-4" href="{% url 'app_detail_plan_list' app_unique_id=app_unique_id %}">
            Back
          </a>
          <a class="btn btn-primary float-right mb-4" href="{% url 'app_detail_plan_edit' app_unique_id=app_unique_id plan_unique_id=plan.unique_id %}">
            EDIT PLAN
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-4 text-center">
          <h3>
            {{ plan.name }}
          </h3>

          <p>
            {% if plan.description %}
              {{ plan.description }}
            {% else %}
              <i>There is no description for the current Plan</i>
            {% endif %}
          </p>

          <ul class="">
            <li>
              Created: {{ plan.created_at }}
            </li>
            <li>
              Updated: {{ plan.updated_at }}
            </li>
          </ul>

        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-4 text-center">
          <h3>
            Plan subscribers
          </h3>
          <p>
            <i>
              The following accounts are subscribed to your current plan.
            </i>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <table class="table">
            <thead>
              <tr class="table-light">
                <th scope="col" class="text-center">
                  active
                </th>
                <th scope="col">
                  account
                </th>
                <th scope="col">
                  created at
                </th>
                <th scope="col">
                  renewal datetime
                </th>
                <!-- <th scope="col">
                  updated at
                </th> -->
                <th scope="col">
                  actions
                </th>
              </tr>
            </thead>
            <tbody>

              {% for plan_instance in plan_instances %}
              <tr>
                <td class="text-center">
                  {% if plan_instance.active %}
                    <i class="fa fa-check text-success"></i>
                  {% else %}
                    <i class="fa fa-times text-danger"></i>
                  {% endif %}
                </td>
                <td>
                  <a href="#">
                    {{ plan_instance.account.email }}
                  </a>
                </td>
                <td>
                  {{ plan_instance.created_at }}
                </td>
                <td>
                  {{ plan_instance.renewal_datetime }}
                </td>
                <!-- <td>
                  {{ plan_instance.updated_at }}
                </td> -->
                <td>
                  <button type="button" class="btn btn-info btn-sm disabled">
                    + info
                  </button>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

        </div>
      </div>

    </div>

  </div>

{% endblock %}
