{% extends "base.html" %}
{% load addcss %}

<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% include 'components/breadcrumb.html' %}

  <div class="row">

    <div class="col-1">
      {% include 'components/app_side_card.html' %}
    </div>

    <div class="col-10">

      {% include 'components/forms/edit_model.html' with form=form form_title="Edit Plan" submit_url="#" %}

    </div>

  </div>

{% endblock %}
