{% extends "base.html" %}
<!-- {% load i18n %} -->
<!-- {% load static %} -->
{% block css %}
    {{ block.super }}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% include 'components/breadcrumb.html' %}

  <div class="row">

    <div class="col-3">
      {% include 'components/app_card.html' %}
    </div>

    <div class="col-9">

      {% include 'components/admin_navbar.html' %}

      <div class="row">
        <div class="col-12">
          <a class="btn btn-secondary float-left mb-4" href="#">
            Back
          </a>
          <a class="btn btn-primary float-right mb-4" href="#">
            NEW PLAN
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <table class="table">
            <thead>
              <tr class="table-light">
                <th scope="col" class="text-center">
                  enabled
                </th>
                <th scope="col">
                  code
                </th>
                <th scope="col">
                  name
                </th>
                <th scope="col">
                  price
                </th>
                <th scope="col">
                  clients
                </th>
                <th scope="col">
                  updated at
                </th>
                <th scope="col">
                  actions
                </th>
              </tr>
            </thead>
            <tbody>

              {% for plan in plans %}
              <tr>
                <td class="text-center">
                  {% if plan.enabled %}
                    <i class="fa fa-check"></i>
                  {% else %}
                    <i class="fa fa-times"></i>
                  {% endif %}
                </td>
                <td>
                  {{ plan.code }}
                </td>
                <td>
                  <a href="{% url 'app_detail_plan_detail' app_unique_id=app_unique_id plan_unique_id=plan.unique_id %}">
                    {{ plan.name }}
                  </a>
                </td>
                <td>
                  {{ plan.price }}
                  $ 10000
                </td>
                <td>
                  32
                </td>
                <td>
                  {{ plan.updated_at }}
                </td>
                <td>
                  <button type="button" class="btn btn-info btn-sm disabled">
                    + info
                  </button>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

        </div>
      </div>

    </div>

  </div>

{% endblock %}
